.home {
  padding: 1rem;
  &__select {
    // background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  border: none;
  height: 40px;
  outline: none;
  padding: 0px 10px;
  cursor: pointer;
  margin-right: 10px;
  }
}
.filterAction {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  border: none;
  height: 40px;
  outline: none;
  padding: 0px 10px;
  cursor: pointer;
}